In [21]:
#A simple Python script to extract data from a CSV file, 
#transform it (e.g., clean/aggregate), 
#and save it to a database or another file.

In [30]:
import pandas as pd
import sqlite3  # For database loading

# Step 1: Extract - Read CSV File
input_file = "/Users/sripavanyenugu/Downloads/car_price_dataset.csv"  
df = pd.read_csv(input_file)
print(df.head())

        Brand   Model  Year  Engine_Size Fuel_Type    Transmission  Mileage  \
0         Kia     Rio  2020          4.2    Diesel          Manual   289944
1   Chevrolet  Malibu  2012          2.0    Hybrid       Automatic     5356
2    Mercedes     GLA  2020          4.2    Diesel       Automatic   231440
3        Audi      Q5  2023          2.0  Electric          Manual   160971
4  Volkswagen    Golf  2003          2.6    Hybrid  Semi-Automatic   286618

   Doors  Owner_Count  Price
0      3            5   8501
1      2            3  12092
2      4            2  11171
3      2            1  11780
4      3            3   2867

In [31]:
# Step 2: Transform - Clean & Aggregate Data
df.dropna(inplace=True)  # Remove missing values
df["Total_sale_ammount"] = df["Owner_Count"] * df["Price"]  # Add new column
df_grouped = df.groupby("Brand")[["Mileage"]].sum().reset_index()  # Aggregate sales by category

In [32]:
# Step 3: Load - Save to a New CSV File
output_file = "transformed_data.csv"
df_grouped.to_csv(output_file, index=False)
print(f"Transformed data saved to {output_file}")

print(df.head())

Transformed data saved to transformed_data.csv
        Brand   Model  Year  Engine_Size Fuel_Type    Transmission  Mileage  \
0         Kia     Rio  2020          4.2    Diesel          Manual   289944
1   Chevrolet  Malibu  2012          2.0    Hybrid       Automatic     5356
2    Mercedes     GLA  2020          4.2    Diesel       Automatic   231440
3        Audi      Q5  2023          2.0  Electric          Manual   160971
4  Volkswagen    Golf  2003          2.6    Hybrid  Semi-Automatic   286618

   Doors  Owner_Count  Price  Total_sale_ammount
0      3            5   8501               42505
1      2            3  12092               36276
2      4            2  11171               22342
3      2            1  11780               11780
4      3            3   2867                8601

In [34]:
#Load into SQLite Database
conn = sqlite3.connect("etl_database.db")  # Create a database
df_grouped.to_sql("sales_summary", conn, if_exists="replace", index=False)
print("Data loaded into SQLite database.")
conn.close()

Data loaded into SQLite database.